
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #030712;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 15px 50px;
    background: linear-gradient( 90deg, #0F172A, #030712);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 25px;
}
.nav-links a{
    color: #F8FAFC;
    text-decoration: none;
    transition: 0.7s;
}
.nav-links a:hover{
    color: #2563EB;
}
.logo img{
    width: 250px;
    padding-top: 10px;
}
a{
    color: #F8FAFC;
    text-decoration: none;
}

i{
    font-size: 40px;
    color: #3B82F6;
}

p{
    color: #CBD5E1;
}


/* Seção inicial do site*/
#hero{
    display: flex;
    font-size: 30px;
    color:#F8FAFC;
    padding: 25px;

    background-image: url('../imagens/imagem_fundo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 90vh;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 45%;
    padding: 60px;
}
.tag-hero{
    display: flex;
    justify-content: center;
    background-color: #3b83f636;
    border-radius: 30px;
    font-size: 20px;
    width: 60%;
    padding: 10px ;
}
.texto-hero{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    align-items: center;
}
.titulo-hero{
    margin-bottom: 30px;
    font-size: 58px;
}
.subtitulo-hero{
    line-height: 1.5;
    font-size: 18px;
    color: #E2E8F0;
}

span{
    color: #3B82F6;
}



/*Botôes do hero*/
.hero-buttons{
    display: flex;
    gap: 30px;
    padding: 10px 0px;
}
.button-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #3B82F6;
    color: #F8FAFC;
    transition: 1s;
}
.button-hero:hover{
    color: #F8FAFC;
    background-color: #2563EB;
}




/* Seção de serviços */
#serviços{
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    gap: 15px;
    height: auto;
    align-items: center;
    background-color: #0F172A;
}
.tag{
    color: #3B82F6;
    font-size: 22px;
}

.titulo-sections{
    font-size: 34px;
    margin-bottom: 20px;
    color: #F8FAFC;
}

.conteiner-servicos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 15px;
}

.card-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    background-color: #111827;
    border: 1px solid #334155;
    border-radius: 15px;
    transition: 1s;
    cursor: default;
}
.card-servicos p{
    color: #CBD5E1;
}
.card-servicos h4{
    font-size: 21px;
    color: #3B82F6;
}
.card-servicos:hover{
    background-color: #1E293B;
    transform: scale( 1.05 );
    box-shadow:0 10px 15px #3B82F64D;
}
.icons-box{
    background-color: #3B82F61f;
    border-radius: 10px;
    padding: 15px;
    margin: 7px 0px;
}



/* Seção de projetos */
#projetos{
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    gap: 15px;
    height: auto;
    align-items: center;
    background-color: #0F172A;
}



.conteiner-projetos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 15px;
}
.card-projetos{
    display: flex;
    flex-direction: column;  
    background-color: #111827;
    border: 1px solid #334155;
    border-radius: 15px;
    transition: 1s;
}
.card-projetos img{
    width: 100%;
    height: 90%;
    margin: 0;
    border-radius: 15px 15px 0px 0px ;
}
.card-projetos h3{
    color: #3B82F6;
}
.card-projetos h4{
    color: #CBD5E1;
}
.descricao-projetos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}
.techs{
    display: flex;
    gap: 30px;
    transition: 1s;
}
.techs i:hover{
    transform: scale(1.1);
}
.buttons-projetos{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.buttons-projetos button{
    width: 125px;
    transition: 1s;
}
.buttons-projetos button:hover{
    transform: scale(1.05);
    box-shadow:5px 5px 10px #3B82F64D;
}
.buttons-projetos i{
    font-size: 25px;
}
h3{
    font-size: 22px;
    color: #E2E8F0;
}

.descricao-projetos h4{
    margin-top: 15px;
    font-size: 18px;
}



/* Seção do sobre mim */
#sobre-mim{
    height: auto;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #0F172A;
}


.principal-sobre{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}
.principal-sobre p{
    font-size: 18px;
    padding: 10px 0px;
}
.left-sobre{
    width: 50%;
    padding: 20px;
}
.right-sobre{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-sobre img{
    width: 320px;
    border-radius: 50%;
    box-shadow:15px 10px 20px #3B82F64D;
}


.conteiner-sobre{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 15px;
}
.card-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border: 1px solid #334155;
    border-radius: 15px;
    padding: 20px;
    transition: 0.5s;
}
.card-sobre:hover{
    transform:translateY(-8px);
    border-color:#3B82F6;
    box-shadow:0 10px 15px #3B82F64D;
}





#sobre-mim h3{
    font-size: 30px;
    color: #E2E8F0;
}

.carrosel-ferramentas{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.conteiner-ferramentas{
    display: flex;
    width: max-content;
    gap: 30px;
    animation: scroll 25s linear infinite;
    padding: 15px;
}
.conteiner-ferramentas:hover{
    animation-play-state: paused;
}
.card-ferramenta{
    display:flex;
    align-items:center;
    gap:10px;
    padding:20px 30px;
    background:#111827;
    border:1px solid #334155;
    border-radius:15px;
    min-width:200px;
    transition: .3s;
}
.card-ferramenta i{
    font-size: 40px;
    color: #3B82F6;
}
.card-ferramenta span{
    color: #F8FAFC;
    font-size: 18px;
    font-weight: 600;
}

.card-ferramenta:hover{
    transform:translateY(-8px);
    border-color:#3B82F6;
    box-shadow:0 10px 15px #3B82F64D;
}
@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-60%);
    }
}











/* Seção de contato */
#contato{
    height: auto;
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #0F172A, #030712);
    padding: 60px;
}

.left-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 45%;
    color: #F8FAFC;
}

.left-contato p{
    margin-bottom: 25px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    width: 55%;
    border-radius: 15px;
    padding: 35px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
label{
    color: #3B82F6;
    font-weight: 600;
}
input{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #334155;
    margin-bottom: 10px;
    background-color: #111827;
    color: #F8FAFC;
}
input::placeholder{
    color: #94A3B8;
    opacity: 1;
}
textarea{
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #334155;
    margin-bottom: 10px;
    background-color: #111827;
    resize: none;
    color: #F8FAFC;
}
textarea::placeholder{
    color: #94A3B8;
}

button{
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    background-color: #3B82F6;
    font-weight: bold;
    color: #F8FAFC;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
button i{
    font-size: 20px;
    margin-right: 10px;
    color: #F8FAFC;
}
button:hover{
    background-color: #2563EB;
}









/* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient( 90deg, #0F172A, #030712);
    height: auto;
    padding: 30px;
}

.footer1{
    display:flex;
    flex-direction: column;
    gap: 20px;
    color: #F8FAFC;
    width: 25%;
}

.apps-footer{

    display: flex;
    gap: 40px;
    margin-top: 25px;
}
.apps-footer i{
    color: #3B82F6;
}

.navegacao-footer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer-titulo{
    margin-bottom: 20px;
    color: #F8FAFC;
}

.footer-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    cursor: pointer;
    font-size: 14px;
}
.footer-links a{
    color: #F8FAFC;
    text-decoration: none;
    transition: 0.7s;
}


.footer-links i{
    font-size: 20px;
    margin-right: 15px;
}


